.container{
  margin-top:70px;
}

ul{
  list-style:none;
}

.name{
  color:#e88822;
  font-weight:bold;
  font-size:15px;
}

.contact{
  margin-bottom:10px;
}

.contact a{
  color:black;
}

.contact a:hover{
  text-decoration:none;
  color:lightgrey;
}

.context{
  margin-bottom:20px;
}

.bill-id{
  color:navy;
  font-weight:bold;
  font-size:20px;
}

.com-sub{
  margin-bottom:20px;
}

.link-to-button{
  background-color:#4778ff;
  padding:10px;
  margin:10px;
  color:white;
  font-size:15px;
  border-radius:7px;
}

.link-to-button:hover{
  background-color:#073184;
  color:white;
}

.link-to-button:hover{
  text-decoration: none;
  border:1px solid #051149;
}

.header{
  margin-bottom:40px;
}

.content-container{
  text-align:center;
}

.committee{
  background-color:#17a81e;
}
.committee:hover{
  background-color:#066b1c;
  border:1px solid #064409;
}
