<div class="content-container">
  <h1 class="header">Bills</h1>
  {{#link-to 'senate-bills' classNames='link-to-button'}}Senate{{/link-to}}
  {{#link-to 'house-bills' classNames='link-to-button'}}House{{/link-to}}
</div>
