<div class="content-container">
  <h1 class="header">Committees</h1>
  {{#link-to 'senate-committees' classNames='link-to-button committee'}}Senate{{/link-to}}
  {{#link-to 'house-committees' classNames='link-to-button committee'}}House{{/link-to}}
</div>
